
BeatMasterProject/Assets/Koreographer/Demos/KaraokeDemo.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Demos/KaraokeDemo.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Demos/KaraokeDemo.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Demos/RhythmGameDemo.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Integrations/FabricIntegration.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Integrations/MasterAudioIntegration.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Integrations/PlayMakerIntegration.unitypackage.meta
BeatMasterProject/Assets/Koreographer/Integrations/SECTRAudioIntegration.unitypackage.meta
BeatMasterProject/Assets/Plugins/Koreographer/WinRT/WinRTSupport.unitypackage.meta
